body{
    text-align: center;
}
.icon{
    display: inline-block;
}
.icons{
    text-align: center;
}
section{
    display: inline-block;
    text-align: center;
}
.deal-box{
    display: inline-block;
    text-align: center;
    max-width: 200px;
}

.arrows{
    text-align: center;
}

footer{
    margin-top: 100px;
}

.footerlinks{
    display: inline-block;
    background-color: rgb(198, 202, 202);
}